<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>{{ bundle.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onMoreButtonClick()">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ bundle.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list lines="full">
      <ion-item *ngFor="let word of words" button>
        <ion-label>{{ word.text }}</ion-label>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="onWordDeleteClick(word.id)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onFabClick()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
